@model IEnumerable<Peek.Web.ViewModels.CategoryViewModel>
@{
    ViewBag.Title = "Peek Administration";
}

<h2 class="text-center">@ViewBag.Title</h2>
@Html.ActionLink("Add category", "Add", "Categories", new { area = "Administration" }, new { @class = "btn btn-default" })
@Html.ActionLink("Add product", "Add", "Products", new { area = "Administration" }, new { @class = "btn btn-default" } )
<br />
<br />
@if (Model.Any())
{
    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <th class="text-center">@Html.LabelFor(m => Model.First().Name)</th>
            <th class="text-center">@Html.LabelFor(m => Model.First().IsActive)</th>
            <th class="text-center">Actions</th>
        </tr>
        @foreach (var category in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => category.Name)</td>
                <td class="text-center">@Html.DisplayFor(m => category.IsActive)</td>
                <td class="text-center">@Html.ActionLink("[Edit]", "Edit", "Categories", new { id = category.Id }, null)</td>
            </tr>
        }
    </table>
}
