@model IEnumerable<Peek.Web.ViewModels.Orders.OrderViewModel>
@{
    ViewBag.Title = "My orders";
}

<h2 class="text-center">@ViewBag.Title</h2>
@if (Model.Any())
{
    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <th class="text-center">@Html.LabelFor(m => Model.First().Id)</th>
            <th class="text-center">@Html.LabelFor(m => Model.First().CreatedOn)</th>
            <th class="text-center">@Html.LabelFor(m => Model.First().Status)</th>
        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td class="text-center">@Html.DisplayFor(m => order.Id)</td>
                <td class="text-center">@Html.DisplayFor(m => order.CreatedOn)</td>
                <td class="text-center">@Html.DisplayFor(m => order.Status)</td>
            </tr>
        }
    </table>
}
