@model Events.Web.Models.EventViewModel

<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="event-box">
        <h2>@Model.Title</h2>
        <span class="date">@Model.StartTime</span>
        @if (Model.Duration != null)
        {
            <span class="duration">(@Model.Duration.Value.ToString(@"hh\:mm") hours)</span>
        }

        @if (Model.HasImage)
        {
            <img src="@Url.Action("Image", "Events", new { id = Model.Id })" class="img-responsive img-rounded" alt="image" />
        }

        @if (Model.AuthorFullName != null)
        {
            <div class="author">Author: @Model.AuthorFullName</div>
        }

        @if (Model.Location != null)
        {
            <div class="location">Location: @Model.Location</div>
        }

        <div id="event-details-@Model.Id">
            @Ajax.ActionLink("View Details »", "GetDetails", "Events",
                new { id = Model.Id },
                new AjaxOptions { UpdateTargetId = "event-details-" + Model.Id },
                new { @class = "btn btn-default" })
        </div>
    </div>
</div>