@model Peek.Web.ViewModels.Products.ProductViewModel

<h2 class="text-center">
    @ViewBag.Title
    @if (User.IsLoggedIn())
    {
        if (User.IsAdmin())
        {
            <a href="@Url.Action("Edit", "Products", new { id = Model.Id, area = "Administration" })" title="Edit product">
                <span class="glyphicon glyphicon-edit"></span></a>
        }

        @Ajax.RawActionLink("<span class='glyphicon glyphicon-plus'></span>", "Add", "Cart", new { id = Model.Id },
            new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "status-div" }, new { title = "Add to cart" })
        <br />
    }
</h2>
<div class="text-center" id="status-div"></div>
<div class="row">
    @Html.LabelFor(m => m.Name):
    @Html.DisplayFor(m => m.Name)
    <br />

    @Html.LabelFor(m => m.Description):
    <span class="break-word">@Html.DisplayFor(m => m.Description)</span>
    <br />

    @Html.LabelFor(m => m.Price):
    @Html.DisplayFor(m => m.Price)
</div>
@if (Model.ImageUrls != null)
{
    <br />
    <div class="row">
        @foreach (var url in Model.ImageUrls)
        {
            <a href="@url" data-lightbox="images">
                <img src="@url" alt="product image" class="img-rounded product-image-expanded" />
            </a>
        }
    </div>
}

@if (Model.Comments.Any())
{
    <br />
    if (User.IsLoggedIn())
    {
        @Ajax.RawActionLink("<img class='icon small' src='/Content/Images/comment-icon.jpg' />",
            "CreateForProductId", "Comments", new { id = Model.Id },
            new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "addCommentForm" }, 
            new { title = "Create Comment" })

        <div id="addCommentForm"></div>
    }
    <div class="row comments">
        @foreach (var comment in Model.Comments)
        {
            <div class="comment col-md-10 col-md-offset-1">
                <strong class="left break-word">@comment.Username</strong>
                <small class="right"><time>@comment.PostedAt</time></small>
                <p class="comment-content">@comment.Text</p>
            </div>
        }
    </div>
}
